@use "fontawesome/fontawesome";

$thin-icons: (
    filter: "filter",
    edit: "pen",
    delete: "trash",
    prev: "angle-left",
    next: "angle-right",
    down: "angle-down",
    search: "magnifying-glass",
    dropdown-menu: "ellipsis-vertical"
);

$regular-icons: (
);

@mixin icon($icon) {
    @include fontawesome.fa-icon-thin($icon);
}

@each $i, $icon in $thin-icons {
    .icon-#{$i} {@include fontawesome.fa-icon-thin($icon)}
}

@each $i, $icon in $regular-icons {
    .icon-#{$i} {@include fontawesome.fa-icon-regular($icon)}
}
