$fontsPath: "/fonts" !default;
$fontFamily: "Open Sans" !default;
$fontPath: "#{$fontsPath}/OpenSans" !default;
$openSansPath: "#{$fontPath}/OpenSans";

@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Light"), local("OpenSans-Light"), url("#{$openSansPath}-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Light Italic"), local("OpenSans-LightItalic"), url("#{$openSansPath}-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local($fontFamily), local("OpenSans-Regular"), url("#{$openSansPath}-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Italic"), local("OpenSans-RegularItalic"), url("#{$openSansPath}-RegularItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Semibold"), local("OpenSans-SemiBold"), url("#{$openSansPath}-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Semibold Italic"), local("OpenSans-SemiBoldItalic"), url("#{$openSansPath}-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Bold"), local("OpenSans-Bold"), url("#{$openSansPath}-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Bold Italic"), local("OpenSans-BoldItalic"), url("#{$openSansPath}-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Extrabold"), local("OpenSans-ExtraBold"), url("#{$openSansPath}-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: $fontFamily;
	font-display: swap;
	src: local("#{$fontFamily} Extrabold Italic"), local("OpenSans-ExtraBoldItalic"), url("#{$openSansPath}-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic;
}
