@use "~resources/sass/app";

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 20.6rem;
  padding: 0.9rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.content-body {
  // stylelint-disable-next-line declaration-no-important
  padding: 0 !important;
}

.content-auth {
  position: relative;
  height: 100%;

  img {
    user-select: none;
  }

  .content-auth-background {
    height: inherit;

    .content-auth-background-left-arrow {
      bottom: 6.25rem;
    }

    .content-auth-background-logo-first {
      top: 3.125rem;
      left: 2.188rem;
    }

    .content-auth-background-right-arrow {
      top: 3.125rem;
      right: 0;
    }

    .content-auth-background-logo-second {
      right: 0;
      bottom: 0;
    }

  }

  .form-signin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}