@import "~resources/sass/variables";

.card-header {
  display: flex;

  &,
  h5 {
    line-height: 32px;
  }
}

.card-header.collapsable {
  border-bottom: none;
  cursor: pointer;

  &:hover {
    background: #F0F5FE;
  }

  &:not(.collapsed) {
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
    background: #F0F5FE;
    color: #007bff;
  }

  h5 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    border: 0;
    border-radius: 0;
    background-color: var(--bs-accordion-btn-bg);
    color: var(--bs-accordion-btn-color);
    font-size: 0.9rem;
    text-align: left;
    transition: var(--bs-accordion-transition);
    overflow-anchor: none;

    &::after {
      content: "";
      flex-shrink: 0;
      width: var(--bs-accordion-btn-icon-width);
      height: var(--bs-accordion-btn-icon-width);
      margin-left: auto;
      background-image: var(--bs-accordion-btn-icon);
      background-size: var(--bs-accordion-btn-icon-width);
      background-repeat: no-repeat;
      transition: var(--bs-accordion-btn-icon-transition);

      &:not(.collapsed) {
        background-image: var(--bs-accordion-btn-active-icon);
        transform: var(--bs-accordion-btn-icon-transform);
      }
    }
  }
}
