@use "~resources/views/main";

.card h5>a {
  display: inline-block;
  margin-left: 1rem;
  color: var(--text);
  font-weight: normal;
  font-size: 0.75rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.flex-basis-200 {
  flex-basis: 12.5rem;
}

ul.hotel-services {
  margin-bottom: 0;
  // stylelint-disable-next-line declaration-no-important
  padding-left: 0 !important;
  color: #0ab21b;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

ul.hotel-services li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}

ul.hotel-services li::before {
  content: '';
  display: inline-block;
  float: left;
  width: 4px;
  height: 4px;
  margin-top: 0.5rem;
  margin-right: 0.313rem;
  border-radius: 50%;
  background: #0ab21b;
}

#hotel-usabilities .accordion-body {
  padding: 0;
}

div.hotel-usabilities li {
  position: relative;
}

div.hotel-usabilities li>input {
  vertical-align: middle;
  margin-right: 0.313rem;
}

div.hotel-usabilities li>label {
  vertical-align: middle;
}

div.hotel-usabilities div.radio-wrapper {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 0.688rem;
  transform: translateY(-50%);

  input {
    margin-right: 0.313rem;
  }

  div.radio {
    display: flex;
    align-items: center;
  }
}

div.hotel-usabilities div.rooms-wrapper {
  margin-top: 0.563rem;
  font-size: 0.688rem;
  text-align: right;

  div.radio {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

div.accordion-list {
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
  line-height: 1.25rem;
}

div.accordion-list h2 {
  position: relative;
  margin: 0;
  padding: 0.375rem 1rem 0.375rem 2rem;
  border-bottom: 1px solid var(--border);
  font-size: 0.813rem;
  cursor: pointer;
}

div.accordion-list h2:hover {
  background: var(--background-alt);
}

div.accordion-list section:first-child h2 {
  border-top: 1px solid var(--border);
}

div.accordion-list h2 span {
  position: absolute;
  top: 0.375rem;
  right: 1rem;
  font-weight: normal;
  font-size: 0.688rem;
}

div.accordion-list h2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25rem;
  margin-right: 0.563rem;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #000;
}

div.accordion-list .section-body {
  overflow: auto;
  max-height: 25rem;
  margin-top: 0;
  margin-bottom: 0;
  // stylelint-disable-next-line declaration-no-important
  padding-left: 0 !important;
  border-bottom: 1px solid var(--bs-accordion-border-color);
  list-style-type: none;
}

div.accordion-list section.expanded h2 {
  background: #F0F5FE;
}

div.accordion-list section.expanded h2::before {
  margin-top: -0.188rem;
  border-top: 5px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

div.accordion-list section.expanded .section-body {
  display: block;
}

div.accordion-list li {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dadce0;
  background: #f8fafb;
}

div.accordion-list section:last-child li:last-child {
  border-bottom: none;
}

#hotel-services table tr td {
  &>* {
    vertical-align: middle;
  }

  &>input {
    margin-right: 0.313rem;
  }
}