@use "../main";

.permissions-control-wrapper {
    flex-grow: 1;

}
.permissions-control {
    display: flex;
    .list-wrapper {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 4px 4px;
        height: 318px;
        overflow: auto;
        flex-grow: 1;
        flex-basis: 40%;
        line-height: 20px;
    }
    .controls {
        width: 48px;
    }

    .prototype-item {
        display: flex;
        gap: 8px;
        align-items: center;
        padding: 4px 4px;
        border-radius: 2px;
        cursor: pointer;
        .title {white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
        &:hover {background: #EBEBEB;}
        .permissions {display: flex;gap: 4px;align-items: center;}
        .permissions i {font-size: 16px;opacity: .4;cursor: pointer;}
        .permissions i:hover {opacity: 1;}
        .permissions i.selected {color: green;}
    }
}
