@mixin scrollable {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #EDEDED;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #A6A6A6;
  }
}
