header {
    height: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    z-index: 10;
    transition: all .2s;
    position: fixed;
    width: 100%;
    padding-left: 280px;
}

.header-content-wrapper {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    padding: 12px 2rem;
    background: #fff;

    form {flex-grow: 1;}
}
