header {
    height: 48px;
    z-index: 300;
    transition: all .2s;
    position: fixed;
    width: 100%;
    display: flex;
    background: #fff;
    border-bottom: 1px solid #E0E0E0;

    .logo-wrapper {
        width: 280px;
        display: flex;
        align-items: center;
        height: 48px;
        button {width: 40px;height: 40px;border: none;background: none;border-radius: 50%;margin: 0 4px;}
        button:hover {background-color: #E3E3E3;}
        button > svg {width: 24px;height: 24px;color: rgba(0, 0, 0, .66);}
    }
    div.logo {
        background: url("/images/logo.svg") 8px 50% no-repeat;
        background-size: 146px 30px;
        flex-grow: 1;
        height: 100%;
    }
}

.header-content-wrapper {
    padding: 8px 2rem;
    flex-grow: 1;
    .header-content { display: flex; gap: 1rem; align-items: center;}
    .spacer {flex-grow: 1;}
    form {flex-grow: 1; }
}

