@use "header";
@use "sitemap";
@use "sidebar";

html, body {height: 100%;}

body {min-width: 320px;font-size: 13px;letter-spacing: .4px;}

input {font-size: 13px;}

div.dashboard-wrapper {min-height: 100%;background: #f5f5f9;}

main {padding: 48px 0 0 280px;height: 100%;}
div.content-wrapper {padding: 2rem;}
