@use "../mixins/scrollbar";
@use "../variables";

aside.sidebar {
    display: flex;
    flex-direction: column;
    z-index: 20;
    overflow: hidden;
    width: 280px;
    position: fixed;
    top: 48px;
    left: 0;
    height: calc(100vh - 48px - 25px);
    -ms-flex-direction: column;
    transition: all .3s ease;
    background: #fff;
    border-right: 1px solid #E0E0E0;

    .sidebar-header {
        line-height: 3rem;
        color: rgba(0, 0, 0, .66);
        border-bottom: 1px solid #E0E0E0;
        display: flex;
        .title {font-size: 1rem;padding-left: 1rem;}
        .icon {width: 48px;height: 48px;line-height: 48px;text-align: center;}
    }

    .menu-wrapper {
        flex-grow: 1;
        padding: .5rem 0;

        .group-items a {}
    }
}
