@use "../variables";

.btn-primary, .btn-primary:hover, .btn-primary:active {color: #fff !important;}

.btn > i {line-height: variables.$btn-line-height;vertical-align: top;}

button.btn {height: 32px;}
a.btn {line-height: variables.$btn-line-height;}

@mixin button_with_icon {
    padding: 0 1rem 0 .75rem;
    & > i {font-size: 20px;}
}

.btn-cancel,
.btn-delete,
.btn-white {
    color: #000;
    background: #fff;
    border-color: #fff;
    &:hover {background-color: rgba(0, 0, 0, .08); }
    &:active {background-color: rgba(0, 0, 0, .12); }
}

.btn-delete {@include button_with_icon;}

.btn-add {
    @include button_with_icon;
    color: variables.$primary;
    background: #fff;
    border-color: #fff;
    &:hover {background-color: rgba(0, 0, 0, .08); }
    &:active {background-color: rgba(0, 0, 0, .12); }
}
