@use "../icons";

.card > .table-responsive > table {
    td:first-child, th:first-child {padding-left: 1rem;}
    td:last-child, th:last-child {padding-right: 1rem;}
}

.table th {font-weight: 600;color: var(--bs-table-striped-color);}
.table tbody > tr:hover > td {box-shadow: inset 0 0 0 9999px rgba(26, 115, 232, .1);}

.column-sorted {
    //@include icons.icon();
}

.column-edit {width: 1rem;text-align: center;}
.column-edit > a {display: block;width: 1rem;}
.column-edit > a:not(:hover) {color: rgba(0, 0, 0, .66);}
.column-edit i {font-size: 18px;vertical-align: top;}

.column-number {text-align: right;}

tr:not(:hover) > .column-edit > a {visibility: hidden;}

.column-actions {
    width: 3rem;
    button {width: 1.5rem;height: 1.5rem;padding: 0;}
}

.grid-filters {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: .5rem;
    position: relative;
    & > .btn {padding: 5px 0 0 0;width: 32px; line-height: 2;}
    & > .btn > i {vertical-align: top;opacity: .6;}
}
.search-popup-wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    padding-top: 8px;
    z-index: 100;
    .search-popup {
        background: #fff;
        padding: 1rem 1.5rem;
        width: 320px;
    }
}
.grid-filters:not(.expanded) .search-popup-wrapper {display: none;}
.quicksearch-wrapper {
    position: relative;
    input {padding-right: 32px;width: 272px;}
    button {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        border: none;
        background: none;
        width: 32px;
        opacity: .6;
    }
}
