@use "~resources/views/main";

.field-locale-inputs-wrapper {
  width: 100%;
}

.room-beds {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0;
  }
}