.loading {
  position: relative;
}

.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 40%) url("~resources/images/preload.svg") 50% 50% no-repeat;
  background-size: 48px 48px;
  text-align: center;
}

body.loading::after {
  position: fixed;
}
