@use "~resources/sass/variables" as variables;

.grid-filters {
  position: relative;
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  align-items: flex-start;

  .btn {
    color: variables.$secondary
  }

  & > .btn {
    width: 32px;
    padding: 0;
  }

  .filter-badge {
    padding: 0.35rem;

    .badge-text {
      position: absolute;
      top: -9px;
      right: 3px;
      color: white;
      font-size: 9px;
    }
  }
}

.search-popup-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
  padding-top: 8px;

  .search-popup {
    width: 25rem;
    padding: 1rem 1.5rem;
    border: 1px solid rgb(0 0 0 / 12%);
    background: #fff;
  }
}

.grid-filters:not(.expanded) .search-popup-wrapper {
  display: none;
}

.quicksearch-wrapper {
  position: relative;

  input {
    width: 200px;
    padding-right: 32px;
    line-height: 2rem;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 100%;
    border: none;
    background: none;
    color: variables.$secondary
  }
}
