@use "~resources/sass/variables" as variables;

.card-grid {
  white-space: nowrap;

  .card-body {
    padding: 0.5rem 0 1rem;

    & > table {
      margin: 0;
      line-height: 20px;

      td:first-child,
      th:first-child {
        padding-left: 1rem;
      }

      td:last-child,
      th:last-child {
        padding-right: 1rem;
      }
    }

    & > table + .paginator {
      padding: 1rem 1rem 0;
    }
  }

  .card-header + .card-body {
    padding-top: 0;
  }
}

.grid-empty-text {
  padding: 1rem;
  color: variables.$secondary;
  font-size: 14px;
  text-align: center;
}

.column-icon > i {
  vertical-align: top;
  font-size: 20px;
}

.column-actions {
  width: 3rem;

  .actions-menu-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
  }

  .actions-menu-wrapper > .icon {
    font-size: 20px;
    cursor: pointer;
  }

  .actions-menu-wrapper:hover > .icon {
    color: variables.$primary;
  }

  .actions-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    width: 200px;
    border-radius: 4px;
    background: #fff;
    box-shadow: variables.$box-shadow;
  }

  .actions-menu hr {
    margin: 0;
  }

  .actions-menu-wrapper:not(:hover) .actions-menu {
    display: none;
  }

  button {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    padding: 8px 16px;
    border: none;
    background: none;
    font-size: 13px;

    &:hover {
      background-color: rgb(0 0 0 / 8%);
    }

    &:active {
      background-color: rgb(0 0 0 / 12%);
    }

    .icon {
      font-size: 16px;
    }
  }
}

tr:hover > td.column-actions > .actions-menu {
  display: block;
}
