@use "~resources/views/main";

.card h5 > a {
  display: inline-block;
  margin-left: 16px;
  color: var(--text);
  font-weight: normal;
  font-size: 12px;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.flex-basis-200 {
  flex-basis: 200px;
}

ul.hotel-services {
  margin-bottom: 0;
  // stylelint-disable-next-line declaration-no-important
  padding-left: 0 !important;
  color: #0ab21b;
  font-size: 12px;
  line-height: 20px;
}

ul.hotel-services li {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}

ul.hotel-services li::before {
  content: '';
  display: inline-block;
  float: left;
  width: 4px;
  height: 4px;
  margin-top: 8px;
  margin-right: 5px;
  border-radius: 50%;
  background: #0ab21b;
}

#hotel-usabilities .accordion-body {
  padding: 0;
}

div.hotel-usabilities li {
  position: relative;
}

div.hotel-usabilities li > input {
  margin-right: 5px;
}

div.hotel-usabilities div.radio-wrapper {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 11px;
}

div.hotel-usabilities div.radio-wrapper input {
  margin-right: 5px;
}

div.hotel-usabilities div.radio-wrapper div.radio {
  display: inline-block;
  vertical-align: top;
}

div.hotel-usabilities div.radio-wrapper div.radio:first-child {
  margin-right: 9px;
}

div.hotel-usabilities div.rooms-wrapper {
  margin-top: 9px;
  font-size: 11px;
  text-align: right;
}

div.hotel-usabilities div.rooms-wrapper input {
  margin-left: 5px;
}

div.accordion-list {
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
  line-height: 20px;
}

div.accordion-list h2 {
  position: relative;
  margin: 0;
  padding: 6px 16px 6px 32px;
  border-bottom: 1px solid var(--border);
  font-size: 13px;
  cursor: pointer;
}

div.accordion-list h2:hover {
  background: var(--background-alt);
}

div.accordion-list section:first-child h2 {
  border-top: 1px solid var(--border);
}

div.accordion-list h2 span {
  position: absolute;
  top: 6px;
  right: 16px;
  font-weight: normal;
  font-size: 11px;
}

div.accordion-list h2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 9px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #000;
}

div.accordion-list .section-body {
  overflow: auto;
  max-height: 400px;
  margin-top: 0;
  margin-bottom: 0;
  // stylelint-disable-next-line declaration-no-important
  padding-left: 0 !important;
  border-bottom: 1px solid var(--bs-accordion-border-color);
  list-style-type: none;
}

div.accordion-list section.expanded h2 {
  background: #F0F5FE;
}

div.accordion-list section.expanded h2::before {
  margin-top: -3px;
  border-top: 5px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

div.accordion-list section.expanded .section-body {
  display: block;
}

div.accordion-list li {
  padding: 12px 16px;
  border-bottom: 1px solid #dadce0;
  background: #f8fafb;
}

div.accordion-list section:last-child li:last-child {
  border-bottom: none;
}
