@use "~resources/views/main";

.card h5 > a {
    font-size: 11px;
    color: var(--text);
    text-decoration: underline;
    font-weight: normal;
    display: inline-block;
    margin-left: 16px;
}

.flex-basis-200 {
    flex-basis: 200px;
}

ul.hotel-services {
    color: #0ab21b;
    line-height: 20px;
    font-size: 11px;
    padding-left: 0 !important;
}

ul.hotel-services li {
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
}

ul.hotel-services li:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #0ab21b;
    margin-right: 5px;
    float: left;
    margin-top: 8px;
}

#hotel-usabilities .accordion-body {
    padding: 0;
}

div.hotel-usabilities li {
    position: relative;
}

div.hotel-usabilities li > input {
    margin-right: 5px;
}

div.hotel-usabilities div.radio-wrapper {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 11px;
}

div.hotel-usabilities div.radio-wrapper input {
    margin-right: 5px;
}

div.hotel-usabilities div.radio-wrapper div.radio {
    display: inline-block;
    vertical-align: top;
}

div.hotel-usabilities div.radio-wrapper div.radio:first-child {
    margin-right: 9px;
}

div.hotel-usabilities div.rooms-wrapper {
    font-size: 11px;
    margin-top: 9px;
    text-align: right;
}

div.hotel-usabilities div.rooms-wrapper input {
    margin-left: 5px;
}

div.accordion-list {
    line-height: 20px;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}

div.accordion-list section {
}

div.accordion-list h2 {
    margin: 0;
    padding: 6px 16px 6px 32px;
    font-size: 13px;
    cursor: pointer;
    border-bottom: 1px solid var(--border);
    position: relative;
}

div.accordion-list h2:hover {
    background: var(--background-alt);
}

div.accordion-list section:first-child h2 {
    border-top: 1px solid var(--border);
}

div.accordion-list h2 span {
    position: absolute;
    top: 6px;
    font-weight: normal;
    font-size: 11px;
    right: 16px;
}

div.accordion-list h2:before {
    display: inline-block;
    content: '';
    vertical-align: middle;
    margin-right: 9px;
    border-left: 5px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    top: 50%;
    left: 16px;
    margin-top: -4px;
}

div.accordion-list .section-body {
    list-style-type: none;
    max-height: 400px;
    border-bottom: 1px solid var(--bs-accordion-border-color);
    overflow: auto;
    padding-left: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
}

div.accordion-list section.expanded {
}

div.accordion-list section.expanded h2 {
    background: #F0F5FE;
}

div.accordion-list section.expanded h2:before {
    border-top: 5px solid #000000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin-top: -3px;
}

div.accordion-list section.expanded .section-body {
    display: block;
}

div.accordion-list li {
    padding: 12px 16px;
    background: #f8fafb;
    border-bottom: 1px solid #dadce0;
}

div.accordion-list section:last-child li:last-child {
    border-bottom: none;
}
