@use '~resources/sass/vendor/bootstrap/configuration' as bs;
@import 'floating-vue/dist/style.css';

.v-popper {
  &--theme {
    &-tooltip {
      %theme-tooltip-popper-inner {
        background-color: black;
        font-size: 0.85em;
      }
    }

    &-danger-tooltip {
      $bg: bs.$danger;

      %theme-danger-tooltip-popper-inner {
        @include bs.color-bg($bg);
      }

      %theme-danger-tooltip-popper-arrow-outer {
        border-color: $bg;
      }
    }
  }

  &__inner {
    @extend %theme-tooltip-popper-inner;
    @extend %theme-danger-tooltip-popper-inner;
  }

  &__arrow-outer {
    @extend %theme-danger-tooltip-popper-arrow-outer;
  }
}
