@use "header";
@use "sitemap";
@use "sidebar";
@use "footer";

@use "elements/grid-default";
@use "elements/core";

html,
body {
  height: 100%;
}

body {
  min-width: 320px;
  font-size: 13px;
  letter-spacing: 0.4px;
}

input {
  font-size: 13px;
}

div.dashboard-wrapper {
  min-height: 100%;
  background: #fff;
}

main {
  height: 100%;
  padding: 48px 0 0;
}

body.sidebar-expanded main {
  padding-left: 280px;
}

.content {
  .breadcrumb-wrapper {
    padding: 1rem 2rem 0;
  }
}

.content-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 2rem 0;

  .title {
    font-size: 16px;
  }

  .btn-add {
    margin-left: 1rem;
  }

  .btn-menu {
    margin-left: 1rem;
  }

  #hotel-switcher {
    position: relative;
    margin-right: 1rem;
  }
}

.content-body {
  padding: 0 2rem 2rem;
}


.rating {
  display: inline-block;

  i {
    vertical-align: top;
    color: #FEB65A;
    font-size: 16px;
  }
}