@use "~resources/views/main";

.field-locale-inputs-wrapper {
  width: 100%;
}

.room-beds {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px 0;
  }
}