@use "~resources/views/main";

.rooms-cards {
  display: flex;
  flex-flow: column wrap;
  gap: 32px;
}

.hotel-prices {
  font-size: 11px;

  tr {
    th.rate-name {
      width: 200px;
    }

    th.type-name {
      width: 120px;
    }

    &:hover td {
      box-shadow: none
    }

    td {
      background-color: #fff;
      white-space: nowrap;
      cursor: pointer;

      &.priced {
        padding: 0;
        line-height: 32px;
        text-align: right;
      }

      &:hover {
        background-color: #fff;
      }
    }
  }
}

.season-price-days-table {
  table {
    margin-bottom: 0;

    tr,
    td {
      height: 45px;
    }
  }
}

.caption {
  margin-bottom: -5px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: var(--bs-secondary-color);
  font-weight: bold;
  font-size: 11px;
  text-align: left;
}

.table tbody>tr:hover>td {
  box-shadow: none;
}

.table tbody>tr>td:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 25%);
}