@use "~resources/views/main";

.rooms-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;

  .card {
    flex-grow: 1;
    flex-basis: 30%;
    overflow: hidden;
  }

  .card.new {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image {
    position: relative;
    overflow: hidden;
    height: 200px;
    background: #F3F3F3 url("~resources/images/nophoto.webp") 50% 50% no-repeat;

    img {
      width: 100%;
      aspect-ratio: 4/3;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    .name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0.5rem 1rem;
      background: rgb(0 0 0 / 46%);
      color: #fff;
    }
  }

  .body {
    padding: 0.5rem 1rem;

    .buttons {
      display: flex;
      gap: 1rem;
      margin-top: 0.5rem;
    }
  }

  .sort-handle {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    padding: 4px;
    border-radius: 4px;
    background: rgb(0 0 0 / 40%);
    background-size: 16px 16px;
    color: #fff;
    cursor: move;

    i {
      vertical-align: top;
    }
  }

  .card:not(:hover) .sort-handle {
    display: none;
  }

  .ui-sortable-placeholder {
    border-style: dashed;
  }
}
