//@use "~fonts/open-sans";
@use "../common";

form.default-form {}
form.default-form div.form-field > label {width: 160px;}
form.default-form div.field-label span.field-label {display: inline-block;border: 1px solid #c0c0c0; border-radius: 3px; padding: 0 8px; height: 32px;line-height: 30px;min-width: 140px;}
.content-default div.form-buttons {margin-top: 16px;justify-content: flex-end;display: flex;padding: 0 16px;}
.content-default div.form-buttons > * {margin-left: 16px;}
